@model IEnumerable<ForThePeople.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Bill Id
                @*@Html.DisplayNameFor(model => model.Title)*@
            </th>
            <th>
                Summary
                @*@Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.NameSortParm })*@
            </th>
            <th>
                Sponsor
                @*@Html.DisplayNameFor(model => model.Party)*@
            </th>
            <th>
                Sponsor Party
                @*@Html.ActionLink("State", "Index", new { sortOrder = ViewBag.StateSortParm })*@
            </th>
            <th>
                Sponsor State
                @*@Html.DisplayNameFor(model => model.District)*@
            </th>
            <th>
                Introduced Date
                @*@Html.DisplayNameFor(model => model.Seniority)*@
            </th>
            <th>
                Last Vote Date
                @*@Html.DisplayNameFor(model => model.Phone)*@
            </th>
            <th>
                Primary Subject
                @*@Html.DisplayNameFor(model => model.Date_of_Birth)*@
            </th>
            <th>
                Latest Action
                @*@Html.DisplayNameFor(model => model.Url)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>                   
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sponsor_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sponsor_Party)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sponsor_State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Introduced_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Vote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Primary_Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latest_Major_Action)
                    @*<a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Url)</a>*@
                </td>
                <td>                    
                    <a asp-action="Details" asp-route-id="@item.Bill_Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>