@model IEnumerable<ForThePeople.Models.Bill>
@using Microsoft.AspNetCore.Identity
@using System.Linq
@using Microsoft.EntityFrameworkCore
@using ForThePeople.Data

@inject ApplicationDbContext  _context
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family:'EB Garamond', serif; font-weight: 500">Current Legislature</h1>
<hr />
<br />

<p>
    <a style="font-family:'EB Garamond', serif;" asp-action="PassedLegislatureIndex">Passed Legislature</a> |
    <a style="font-family:'EB Garamond', serif;" asp-action="VetoedLegislatureIndex">Vetoed Legislature</a>
</p>
@foreach (var item in Model)
{
    <div class="card mb-5" style="border: 1px #868983 solid">
        <div class="card-header" style="background-color: #E8D7BD; font-family:'EB Garamond';">
            <span style="font-size: 24px">
                Date of Introduction: @Html.DisplayFor(modelItem => item.Introduced_Date)
            </span>
            <br />
            <br />
            <span style="font-size: 24px; font-weight: 600">
                Title:
            </span>
            <br />
            <span style="font-size: 24px">
                @Html.DisplayFor(modelItem => item.Short_Title)
            </span>
        </div>
        <div class="card-body" style="background-color: #EDEDED; font-size: 20px; font-family:'EB Garamond'">
            <p>
                @Html.DisplayFor(modelItem => item.Summary)
            </p>
            <p>
                <span style="font-weight: 600">
                    Sponsored By:
                </span>
                @Html.DisplayFor(modelItem => item.Sponsor_Title)
                @Html.DisplayFor(modelItem => item.Sponsor_Name)
            </p>
            <p>
                <span style="font-weight:600">
                    Sponsor Party:
                </span>
                @if (item.Sponsor_Party == "D")
                {
                    <span>
                        Democrat
                    </span>
                }
                else if (item.Sponsor_Party == "R")
                {
                    <span>
                        Republican
                    </span>
                }
                else
                {
                    <span>
                        Independent
                    </span>
                }
            </p>
            <p>
                <span style="font-weight: 600">
                    Sponsor State:
                </span>
                @Html.DisplayFor(modelItem => item.Sponsor_State)
            </p>
            <p>
                <span style="font-weight: 600">
                    Subject:
                </span>
                @Html.DisplayFor(modelItem => item.Primary_Subject)
            </p>
            @if (item.Last_Vote != null)
            {
                <p>
                    <span style="font-weight: 600">
                        Last Vote:
                    </span>
                    @Html.DisplayFor(modelItem => item.Last_Vote)
                </p>
            }
            <p>
                <span style="font-weight: 600">
                    Latest Major Action:
                </span>
                @Html.DisplayFor(modelItem => item.Latest_Major_Action)
            </p>
            <p>
                <span style="font-weight: 600">
                    Latest Major Action Date:
                </span>
                @Html.DisplayFor(modelItem => item.Latest_Major_Action_Date)
            </p>
            <p>
                <span style="font-weight: 600">
                    Gov Track Link:
                </span>
                <a href="@item.Govtrack_Url">
                    @Html.DisplayFor(modelItem => item.Govtrack_Url)
                </a>
            </p>
            <div>
                <a class="btn btn-sm btn-danger float-right ml-1" asp-action="Details" asp-route-id="@item.Bill_Slug">Details</a>
            </div>
            <br />
            <hr />
            @if(_context.Note.Where(n => n.LegislationId == item.Bill_Slug) != null)
            {
                <h4>Your Notes</h4>
                @foreach (var note in _context.Note.Where(n => n.LegislationId == item.Bill_Slug && n.ApplicationUserId == userManager.GetUserId(User)))
                {
                    <br />
                    <div class="card mb-1 border-dark">
                        <div class="card-body">
                            <a class="btn btn-sm btn-danger float-right ml-1" asp-controller="Notes" asp-action="Delete" asp-route-id="@note.Id">Delete</a>
                            <a class="btn btn-sm btn-primary float-right" asp-controller="Notes" asp-action="EditLegislatureNote" asp-route-id="@note.Id">Edit</a>
                            <h5 class="card-title">@note.Title</h5>
                            <p class="card-text">@note.Content</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <hr />
}
