@model ForThePeople.Models.ProPublica

@{
    ViewData["Title"] = "GetSenator";
}

<h1>GetSenator</h1>

<div>
    <h4>Representative</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Last_Name)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Results.First().Member_Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Results.First().Member_Id)
            </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Url)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Date_of_Birth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Date_of_Birth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Current_Party)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Current_Party)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Twitter_Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Twitter_Account)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Results.First().Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Results.First().Gender)
            </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Roles.First().Chamber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Roles.First().Chamber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Roles.First().Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Roles.First().Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Roles.First().State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Roles.First().State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Roles.First().Seniority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Roles.First().Seniority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results.First().Roles.First().Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results.First().Roles.First().Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Results.First().Member_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>