@model ForThePeople.Models.LocalRep

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family:'EB Garamond', serif;">Find your Local Representatives</h1>
<br />

@using (Html.BeginForm())
{
    <p style="font-family:'EB Garamond', serif; font-size: 20px">
        Enter your City and State: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<br />

<table style="font-family:'EB Garamond', serif; font-size: 18px" class="table">
    <thead>
        <tr>
            <th>
                Office
            </th>
            <th>
                Full Name
            </th>
            <th>
                Party
            </th>
            <th>
                Phone
            </th>
            <th>
                Info
            </th>
            <th>
                Contact
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Offices)
        {
            @for (var i = 0; i < item.OfficialIndices.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td width="150">
                        @Html.DisplayFor(modelItem => modelItem.Officials[item.OfficialIndices[i]].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Officials[item.OfficialIndices[i]].Party)
                    </td>
                    <td width="150">
                        @Html.DisplayFor(modelItem => modelItem.Officials[item.OfficialIndices[i]].Phones[0])
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem=>modelItem.Officials[item.OfficialIndices[i]].Urls[0])">
                            @Html.DisplayFor(modelItem => modelItem.Officials[item.OfficialIndices[i]].Urls[0])
                        </a>
                    </td>
                    <td>
                        <a href="mailto:@Html.DisplayFor(modelItem => modelItem.Officials[item.OfficialIndices[i]].Emails[0])">
                            @Html.DisplayFor(modelItem => modelItem.Officials[item.OfficialIndices[i]].Emails[0])
                        </a>
                    </td>
                    <td>
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
